<a href="https://colab.research.google.com/github/tibebu-sime/sales-predictions/blob/main/salespredictions_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [12]:
filename = '/content/drive/MyDrive/CodingDojo/Week2_PandasforDataManipulation/Exercises_and_Homework/sales_predictions.csv'
sales_data = pd.read_csv(filename)
sales_data.head(20)

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15        9.300  ...  Supermarket Type1          3735.1380
1            DRC01        5.920  ...  Supermarket Type2           443.4228
2            FDN15       17.500  ...  Supermarket Type1          2097.2700
3            FDX07       19.200  ...      Grocery Store           732.3800
4            NCD19        8.930  ...  Supermarket Type1           994.7052
5            FDP36       10.395  ...  Supermarket Type2           556.6088
6            FDO10       13.650  ...  Supermarket Type1           343.5528
7            FDP10          NaN  ...  Supermarket Type3          4022.7636
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
9            FDU28       19.200  ...  Supermarket Type1          4710.5350
10           FDY07       11.800  ...  Supermarket Type1          1516.0266
11           FDA03       18.500  ...  Supermarket Type1          2187.1530
12           FDX32       15.100  ...  Supermarket Type1          1589.2646
13           FDS46       17.600  ...  Supermarket Type1          2145.2076
14           FDF32       16.350  ...  Supermarket Type1          1977.4260
15           FDP49        9.000  ...  Supermarket Type1          1547.3192
16           NCB42       11.800  ...  Supermarket Type2          1621.8888
17           FDP49        9.000  ...  Supermarket Type1           718.3982
18           DRI11          NaN  ...  Supermarket Type3          2303.6680
19           FDU02       13.350  ...  Supermarket Type1          2748.4224

[20 rows x 12 columns]

In [13]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

Based on the concise summary of the dataset, there are missing values within two columns, namely Item_Weight and Outlet_Size. I will be filling the missing values within the Item_Weight column by the mean of this same column but imputing the missing values withint the Outlet_Size column using the Most Freuquent Imputation technique which works well with both strings and numerical representations.

In [14]:
# Fill the null values within the Item_Weight column with the mean of this column
sales_data['Item_Weight'] = sales_data['Item_Weight'].fillna(sales_data['Item_Weight'].mean())
sales_data.head(20)

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15     9.300000  ...  Supermarket Type1          3735.1380
1            DRC01     5.920000  ...  Supermarket Type2           443.4228
2            FDN15    17.500000  ...  Supermarket Type1          2097.2700
3            FDX07    19.200000  ...      Grocery Store           732.3800
4            NCD19     8.930000  ...  Supermarket Type1           994.7052
5            FDP36    10.395000  ...  Supermarket Type2           556.6088
6            FDO10    13.650000  ...  Supermarket Type1           343.5528
7            FDP10    12.857645  ...  Supermarket Type3          4022.7636
8            FDH17    16.200000  ...  Supermarket Type1          1076.5986
9            FDU28    19.200000  ...  Supermarket Type1          4710.5350
10           FDY07    11.800000  ...  Supermarket Type1          1516.0266
11           FDA03    18.500000  ...  Supermarket Type1          2187.1530
12           FDX32    15.100000  ...  Supermarket Type1          1589.2646
13           FDS46    17.600000  ...  Supermarket Type1          2145.2076
14           FDF32    16.350000  ...  Supermarket Type1          1977.4260
15           FDP49     9.000000  ...  Supermarket Type1          1547.3192
16           NCB42    11.800000  ...  Supermarket Type2          1621.8888
17           FDP49     9.000000  ...  Supermarket Type1           718.3982
18           DRI11    12.857645  ...  Supermarket Type3          2303.6680
19           FDU02    13.350000  ...  Supermarket Type1          2748.4224

[20 rows x 12 columns]

In [ ]:
imputer = SimpleImputer(strategy='most_frequent')
sales_data= imputer.fit_transform(sales_data)
sales_data